<div class='empOuter'>
  <h2>Employees</h2>
  <div>
    <table mat-table
           id='tableEmp'
           [dataSource]="empData">
      <ng-container matColumnDef="id">
        <th mat-header-cell
            *matHeaderCellDef> Id </th>
        <td mat-cell
            *matCellDef="let element">{{element.id}}
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell
            *matHeaderCellDef> Name </th>
        <td mat-cell
            *matCellDef="let element">{{element.name}}
        </td>
      </ng-container>

      <ng-container matColumnDef="company">
        <th mat-header-cell
            *matHeaderCellDef> Company </th>
        <td mat-cell
            *matCellDef="let element"> {{element.company}}</td>
      </ng-container>

      <ng-container matColumnDef="age">
        <th mat-header-cell
            *matHeaderCellDef> Age </th>
        <td mat-cell
            *matCellDef="let element"> {{getAge(element.birthday)}}</td>
      </ng-container>

      <ng-container matColumnDef="birthday">
        <th mat-header-cell
            *matHeaderCellDef> Birthday </th>
        <td mat-cell
            *matCellDef="let element"> {{element.birthday | date:'dd.MM.yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="favoriteColor">
        <th mat-header-cell
            *matHeaderCellDef> Favorite Color </th>
        <td mat-cell
            *matCellDef="let element"> {{element.favoriteColor}}</td>
      </ng-container>

      <ng-container matColumnDef="projectId">
        <th mat-header-cell
            *matHeaderCellDef> Project </th>
        <td mat-cell
            *matCellDef="let element">

          <p *ngIf="!element.projectId || element.projectId === 0">-</p>
          <p *ngIf="element.projectId">{{getProjectById(element.projectId).name}}</p>
        </td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell
            *matHeaderCellDef> Delete </th>
        <td mat-cell
            *matCellDef="let element">
          <button mat-button
                  (click)="deleteEmployee(element)">
            <mat-icon>close</mat-icon>
          </button> </td>
      </ng-container>
      <ng-container matColumnDef="edit">
        <th mat-header-cell
            *matHeaderCellDef> Edit </th>
        <td mat-cell
            *matCellDef="let element">
          <button mat-button
                  (click)="editEmployee(element)">
            <mat-icon>edit</mat-icon>
          </button> </td>
      </ng-container>

      <tr mat-header-row
          *matHeaderRowDef="displayedEmployeeColumns"></tr>
      <tr mat-row
          *matRowDef="let row; columns: displayedEmployeeColumns;"></tr>
    </table>


    <h3>Add new Project:</h3>
    <form [formGroup]="addForm">
      <mat-form-field>
        <input matInput
               placeholder="Name"
               name="name"
               formControlName='name' />
      </mat-form-field>
      <mat-form-field>
        <input matInput
               placeholder="Company"
               name='company'
               formControlName='company' />
      </mat-form-field>
      <mat-form-field><input matInput
               placeholder="Birthday"
               name='birthday'
               formControlName='birthday' /></mat-form-field>
      <mat-form-field><input matInput
               placeholder="Favorite Color"
               name='favoriteColor'
               formControlName='favoriteColor' /></mat-form-field>
      <mat-form-field>
        <mat-label>Project</mat-label>
        <mat-select formControlName='projectId'
                    name="project">
          <mat-option *ngFor="let p of proData"
                      [value]="p.id">
            {{p.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-button
              (click)="addEmployee()"
              [disabled]="!addForm.valid">
        <mat-icon>add</mat-icon>
      </button>
    </form>

    <div class="edit"
         *ngIf="editing">
      <h3>Edit Employee:</h3>
      <form [formGroup]="updateForm">
        <mat-form-field>
          <input matInput
                 name="id"
                 placeholder="Id"
                 formControlName='id' />
        </mat-form-field>
        <mat-form-field>
          <input matInput
                 placeholder="Name"
                 name="name"
                 formControlName='name' />
        </mat-form-field>
        <mat-form-field><input matInput
                 placeholder="Company"
                 name='company'
                 formControlName='company' /></mat-form-field>
        <mat-form-field><input matInput
                 placeholder="Favorite Color"
                 name='favoriteColor'
                 formControlName='favoriteColor' /></mat-form-field>
        <mat-form-field>
          <mat-label>Project</mat-label>
          <mat-select formControlName='projectId'
                      name="project">
            <mat-option *ngFor="let p of proData"
                        [value]="p.id">
              {{p.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-button
                (click)="updateEmployee()"
                [disabled]="!updateForm.valid">
          <mat-icon>check</mat-icon>
        </button>
      </form>
    </div>

    <span *ngIf="tableUpdated">{{feedbackMessage}}</span>
  </div>
</div>